# I. Рядки (String).

1. Створити пустий рядок двома різними способами.

In [3]:
a = "Hello World"
b = str()

2. Створити рядок з апострофом.

In [ ]:
a = "ад'ютант"

3. Створити рядок з символом переходу на новий рядок та роздрукувати його в консоль.

In [4]:
a = "Zatserkovnyi \n Vakentyn "
print (a)

Zatserkovnyi
 Vakentyn

4. Зробити рядок з завдання №3 "сирим"(raw), вивести в консоль та порівняти з результатом в попередному завданні.

In [11]:
a_raw = r"Zatserkovnyi \n Vakentyn"
print (a_raw)

Zatserkovnyi \n Vakentyn

У сирому рядку \n не інтерпретується як символ нового рядка

5. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [16]:
surname = "Zatserkovnyi"
print (f"My surname is - {surname}")

My surname is - Zatserkovnyi

6. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [17]:
a = "My dog is crazy"
b = a.split()
print (b)

['My', 'dog', 'is', 'crazy']

# II. Множини (Set).

7. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [18]:
numbers = set()
numbers.add(1)
numbers.add(2)
numbers.add(3)
numbers.add(4)
numbers.add(5)
print(numbers)

{1, 2, 3, 4, 5}

Так, ми можемо додавати, та видаляти змінні, змінювати їх зміст

8. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [20]:
my_list = [1, 1, 2, 67, 67, 8, 9]
a = set(my_list)
print(a) #виводить лише унікальні значення, дублікати не виводить

{1, 2, 67, 8, 9}

9. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [21]:
set_one = {1, 2, 3, 4, 5}
set_two = {6, 2, 1, 9, 8}
print(set_one.union(set_two))
print(set_one.difference(set_two))
print(set_one.intersection(set_two))
print(set_one.symmetric_difference(set_two))

{1, 2, 3, 4, 5, 6, 8, 9}
{3, 4, 5}
{1, 2}
{3, 4, 5, 6, 8, 9}

10. Створіть множину з пʼяти елементів. За допомогою спеціального методу, вилучіть три елементи один за одним з множини. Чи може гарантуватися порядок елементів у множинах?

In [22]:
a = {1, 2, 3, 4, 5}
el1 = a.pop()
el2 = a.pop()
el3 = a.pop()
print("1-", el1)
print("2-", el2)
print("3-", el3)
print(a)

1- 1
2- 2
3- 3
{4, 5}

У страрих версіях пайтон не можна було гарантувати порядок елементів, а зараз так, порядок елементів зберігається

# III. Словники (Dictionary).

11. Створіть пустий словник двома способами.

In [23]:
dict1 = {}
dict2 = dict()

12. До одного зі словників вище додайте чотири пари елементів такі, щоб їхні ключі були різних типів.

In [24]:
dict1 = {}
dict1["name"] = "Valentyn"
dict1[(19)] = "y.o"
dict1[(12.08)] = "date"
dict1[(12, 5)] = "numbers"
print(dict1)

{'name': 'Valentyn', 19: 'y.o', 12.08: 'date', (12, 5): 'numbers'}

Ключі у словниках повинні бути незмінними, тому не може бути ключем у словнику.

Значенням у словнику може бути будь-який об'єкт, включаючи список. Тобто, словник дозволяє зберігати об'єкти різних типів, включаючи списки.

13. Використовуючи той самий словник, отримайте по ключу будь-яке значення з наявних. Тепер видаліть цю пару ключ-значення. Спробуйте знову отримати значення по цьому ж ключу. Використовуючи спеціальний метод, виправте помилку.

In [26]:
a = {"key1": "15sf", "key2": "number", "key3": "keys"}
value = a.get("key3", "значення по ключу")
print("Значення'key3'-", value)
del a["key3"]
value = a.get("key3", "значення по ключу")
print("Значення 'key3'-", value)

Значення'key3'- keys
Значення 'key3'- значення по ключу

# IV. Оператори порівняння та логічні оператори. Умови.

14. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [27]:
num = 12
if num % 2 == 0:
    result = num * 2
else:
    result = num * 3 + 1
print(result)

24

15. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [29]:
name = "Valentyn"
if "a" in name or "i" in name:
    print("A or I is in the name")
if "o" in name and "n" in name:
    print("O and N is in the name")
if "n" in name and "o" not in name:
    print("Only N is in the name")
if "n" not in name:
    print("There is no N in the name, but there might be O")

A or I is in the name
Only N is in the name

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.